node_modules
package-lock.json
build
dist
src/localize/languages/translationMetadata.json
src/resources/polyfills
!script/build
hacs_frontend

yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/releases/yarn-*.cjs

