name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: "Set version number"
      run: |
        sed -i '/version=/c\version="${{ github.ref }}"' ./setup.py
        sed -i 's|refs/heads/||' ./setup.py
        sed -i 's|refs/tags/||' ./setup.py
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
        npm install
    - name: Build and publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        npm run build
        python setup.py sdist bdist_wheel
        twine upload dist/*