name: "Release actions"

on:
  release:
    types:
      - published

env:
  NODE_VERSION: 18
  PYTHON_VERSION: "3.x"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  translations:
    runs-on: ubuntu-latest
    steps:
      - name: Set up the Lokalise CLI
        uses: frenck/action-setup-lokalise@3b7316ecd78de134098918affa9cb7e7664888a5 # v1.0.1
        with:
          version: v2.6.10

      - name: Download translations
        run: |
          lokalise2 \
            --token "${{ secrets.lokalise_token }}" \
            --project-id "854515055f679055040b37.42677693" \
            file download \
            --format json \
            --unzip-to ./translations \
            --export-empty-as skip \
            --export-sort a_z \
            --original-filenames=false  \
            --bundle-structure %LANG_ISO%.%FORMAT%

      - name: Upload dists
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: translations
          path: ./translations
          if-no-files-found: error
          retention-days: 1

  build:
    runs-on: ubuntu-latest
    needs: translations
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: yarn
          node-version: ${{ env.NODE_VERSION }}

      - name: Clear target directory
        run: |
          rm -R ./src/localize/languages/
          mkdir -p ./src/localize/languages/

      - name: Download translations
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: translations
          path: "./src/localize/languages/"

      - name: "Set version number"
        run: |
          export version=${{ github.event.release.tag_name }}
          sed -i "s|main|${version##*/}|" ./setup.py
          sed -i "s|main|${version##*/}|" ./public/version.py
          sed -i "s|main|${version##*/}|" ./src/version.ts

          cat ./setup.py
          cat ./public/version.py
          cat ./src/version.ts

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          script/bootstrap

      - name: Build
        run: script/build

      - name: Package
        run: python setup.py sdist bdist_wheel

      - name: Upload dists
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: "dist"
          path: "dist/"
          if-no-files-found: error
          retention-days: 5

  publish:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: release
      url: https://pypi.org/p/hacs-frontend
    permissions:
      attestations: write
      contents: write
      id-token: write
    steps:
      - name: Download dists
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: "dist"
          path: "dist/"

      - name: Publish dists to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0

      - name: Attest
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f #v3.2.0
        with:
          subject-path: dist/*

      - name: Upload release assets
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: dist/*

  notify:
    runs-on: ubuntu-latest
    name: Trigger Discord notification
    needs: publish
    steps:
      - name: Discord notification
        run: |
          curl \
            -H "Content-Type: application/json" \
            -d '{"username": "GitHub Action", "content": "New version of HACS frontend are now pushed to [PyPi](<https://pypi.org/project/hacs-frontend>)"}' \
            ${{ secrets.DISCORD_WEBHOOK }}