name: "Test build"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build_frontend:
    name: Test build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn build
